<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>times</key>
	<array>
		<dict>
			<key>title</key>
			<string>北斗监测武汉市大桥形变</string>
			<key>time</key>
			<string>2017-01-23</string>
		</dict>
		<dict>
			<key>title</key>
			<string>四川建成北斗平台 导航更精准了</string>
			<key>time</key>
			<string>2017-01-23</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北京顺义：为救灾员配备北斗应急报灾终端</string>
			<key>time</key>
			<string>2017-01-19</string>
		</dict>
		<dict>
			<key>title</key>
			<string>九寨沟使用北斗智慧景区系统</string>
			<key>time</key>
			<string>2017-01-12</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北斗护航 八驴友穿越阿里大北线</string>
			<key>time</key>
			<string>2017-01-09</string>
		</dict>
		<dict>
			<key>title</key>
			<string>杭州共享单车采用北斗定位</string>
			<key>time</key>
			<string>2017-01-09</string>
		</dict>
		<dict>
			<key>title</key>
			<string>秦皇岛：北斗应用配网自动化领域监控，试点推广</string>
			<key>time</key>
			<string>2017-01-05</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新疆：北斗系统开启用电信息采集新时代</string>
			<key>time</key>
			<string>2016-12-30</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北斗高精度在线监测系统在四川乐山电力投用</string>
			<key>time</key>
			<string>2016-12-23</string>
		</dict>
		<dict>
			<key>title</key>
			<string>防被盗，电动车摩托车装上“北斗车卫士”</string>
			<key>time</key>
			<string>2016-12-23</string>
		</dict>
		<dict>
			<key>title</key>
			<string>湖北深松作业机具安装北斗监测设备</string>
			<key>time</key>
			<string>2016-12-22</string>
		</dict>
		<dict>
			<key>title</key>
			<string>湖北竹溪：为护林员配北斗巡护终端</string>
			<key>time</key>
			<string>2016-12-21</string>
		</dict>
		<dict>
			<key>title</key>
			<string>“互联网＋北斗物流”能找货源，还能监控疲劳驾驶</string>
			<key>time</key>
			<string>2016-12-20</string>
		</dict>
		<dict>
			<key>title</key>
			<string>湖南新晃：完成安装实时传输北斗数据平台</string>
			<key>time</key>
			<string>2016-12-19</string>
		</dict>
		<dict>
			<key>title</key>
			<string>“北斗”学生卡 筑起校园安全墙</string>
			<key>time</key>
			<string>2016-12-19 </string>
		</dict>
		<dict>
			<key>title</key>
			<string>广西：加大北斗应用研发，打造综合服务平台</string>
			<key>time</key>
			<string>2016-12-16 </string>
		</dict>
	</array>
	<key>applications</key>
	<array>
		<dict>
			<key>title</key>
			<string>北斗监测武汉市大桥形变</string>
			<key>content</key>
			<string>近日，由湖北省科技厅组织，武汉光谷北斗控股集团有限公司、武汉光谷北斗地球空间信息产业股份有限公司申报的“基于北斗卫星的桥梁三维变形监测关键技术研究及工程应用”的科技成果鉴定会在武汉大学召开，鉴定委员会一致认为：该成果整体达到国际先进水平，其中面向桥梁的北斗三维变形监测的时间序列数据综合处理技术处于国际领先。
该成果属于桥梁安全监测和卫星导航交叉学科领域，以我国自主建设的北斗卫星导航系统正式运行为契机，以北斗高精度定位技术为核心，通过关键技术研发和成套装备的研制，推动北斗高精度定位技术在桥梁三维变形监测的全面应用，真正达到对桥梁不同部位三维变形的自动化、全天候实时监测。该项目成果已经在武汉市白沙洲大桥和知音桥分别建立了北斗桥梁三维变形监测系统。
(来源：武汉市科技局)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>四川建成北斗平台 导航更精准了</string>
			<key>content</key>
			<string>1月20日，四川省地理信息公共平台建设项目在成都通过专家验收。5位中科院院士、工程院院士领衔的专家组，对该项目给出了高度评价。
四川省地理信息公共平台建设历时4年，总投资近6.5亿元，3000多名技术人员的庞大队伍参与这一项目。通过4年努力，完成了空间定位基准现代化建设、多源遥感影像获取、全省地理信息数据更新等7大任务，1：10000地理信息数据覆盖率从40%提升到65%，同时实现了地质灾害防治重点地段高精度、大比例尺度地形图全覆盖。
地理信息平台建设究竟干啥用？四川测绘局相关负责人告诉记者，测绘实际上已经影响到每个人生活方方面面，大到铁路线路的选定、机场的选址，小到开车用导航、点餐送外卖，都离不开测绘。地理信息平台建设依托于测绘技术，可为四川省各类重大工程项目提供更好的测绘数据和地理空间基础数据，比如成渝高铁、成贵高铁、巴达铁路，以及泸州机场选址、宜宾机场迁建等100多个重大项目，更精准的地理信息数据为项目顺利开展节省了时间和工程投资。
地理信息平台建设还让我们日常用的导航定位更为精准。四川测绘局相关负责人说，目前四川已建成以北斗为主的省级卫星导航与位置服务基础平台，可为全省提供高精度、高时空分辩率、高效率的导航位置服务。
(来源：华西都市报)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北京顺义：为救灾员配备北斗应急报灾终端</string>
			<key>content</key>
			<string>近日，北京市顺义区为78名救灾工作人员配备北斗应急报灾终端。
北斗应急报灾终端是北京市民政局针对救灾、报灾工作需求建设的预警信息发布终端管理系统。在断电、无电话信号、无网络等特殊环境及极端天气的情况下，终端均可及时准确报送灾害信息，确保信息传递的时效性。经培训后，救灾员已熟练掌握、使用北斗应急报灾终端。
(来源：顺义区人民政府网站)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>九寨沟使用北斗智慧景区系统</string>
			<key>content</key>
			<string>徜徉在美丽的九寨沟，游客可以在随处可见的景区交互终端上查询景区信息，合理规划游览路线；通过数据显示屏，即可获取景区游客密度分布情况、附近景点、公交车站台等信息;出行遇到危险，通过手持终端一键报警，自动生成救援方案……这些便利的应用场景并非幻想，借助“北斗卫星导航智慧景区系统”，如今已全部实现。
据悉，该系统基于北斗卫星导航系统、大数据等现代信息科技手段，该系统不仅可以供游客查询，景区管理者还可根据游客通过APP反馈的信息，有针对性地实行人员疏导、车辆调度，从而解决景区精细化管理和服务快速响应等问题，为游客提供更高效、优质服务。
(来源：经济日报)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北斗护航 八驴友穿越阿里大北线</string>
			<key>content</key>
			<string>阿里大北线是无数旅游爱好者心中的天堂，然而，这里广袤无垠，通讯信号无法全覆盖……日前，国内一批资深驴友借助北斗用户机成功穿越了阿里大北线。
张永强一行8人从拉萨出发，一路向西北而上，穿越西藏阿里地区，一路探索和记录沿途的人文和自然风景，历时16天返回拉萨，行程共计4500余公里。
“在这次成功穿越中，可以说北斗用户机提供了重要的保障作用。”张永强说，“有了北斗用户机，大家能彼此知道位置，可以不依赖移动通信网络，利用北斗短报文实现相互之间的通信，真正做到了‘知己知彼’”。这种北斗用户机有团队成员位置互报的功能，可以实现定位。在穿越无人区时，他们能够时刻掌握另外一辆车的位置，可以两辆车分开探险，这在以前是不可能实现的。原来的GPS只能让用户知道自己在哪里，但不能知道队友的位置。同时其中的短报文可以实现两辆车互发短信息，一辆车出现故障，可以呼叫救援。在此次穿越过程中，由于砂石路特别难走，车辆好几次出现爆胎情况，最多的一次，一天两辆车三个轮胎出现爆胎，两辆车离得又比较远，这在以前，出现问题的车就只能原地等另一辆车发现不对劲后回来找，而这次直接通过北斗的短报文发信息，就可以向队友求救。
蔚保国介绍，这款北斗车载用户机依托国家863计划地球观测与导航领域项目“中国位置服务网通用车载接收机”的成果，根据市场特点，采用智能操作系统，进行了更加人性化的功能设计，增加了系统的开放性和互连性。该设备内置大容量电池，支持强力磁吸，安装简易便捷，实现了吸在车顶说走就走，对车辆无需任何改装，对使用车辆零伤害。该设备既可以支持蓝牙、WiFi无线互连，也可以和用户的安卓手机、安卓平板无线连接，这样，用户只需舒服地坐在车里，就可以体验北斗卫星通信。
“我们研发的北斗指挥机还为他们在54所搭建了一个后台，可以全程提供服务保障，为他们安全探险保驾护航。”蔚保国说，这些北斗导航设备把他们的位置信息进行了实时的记录和保存，同时利用北斗卫星通信和移动通信网络的互联互通，使他们在没有移动通信的区域也能和家人保持联系，从而避免“失联”的情况发生。
“北斗导航设备能为户外探险系上安全保险绳，中国旅游资源丰富，地域广阔，自驾游也越来越得到大家的认可和喜爱，车载北斗导航用户机将大有作为。”蔚保国介绍，北斗导航与不同的行业结合，能够显著提升该行业的智慧化水平，将为人们的生活带来更多的便利和福音。
在穿越阿里大北线的过程中，车载北斗导航用户机将车辆的位置信息通过北斗卫星通信发到五十四所的位置服务平台，形成了此次旅行的数据库。这是第一次通过北斗卫星定位记录完整的阿里大北线的数据。蔚保国说，下一步将针对智慧自驾旅游对产品继续改进和优化，做大家真正需要、欢迎的产品。
除了车载北斗导航用户机外，五十四所还将北斗导航系统推广应用于更多领域，如新研制的警用车载北斗定位终端，于2016年9月份刚刚通过定型审查，是公安部定型的警用车载北斗定位终端装备。该产品是集定位、导航、通信、授时功能于一身的一体化警用车载北斗终端产品。它能够实现准确定位、能够满足治安管理、安全保卫、应急处突等多种警务活动的定位通信需求。
如“卫星导航智慧景区系统”，利用RFID景区网格、移动通信定位和智能手机卫星导航定位，感知游客位置、容量，以及游客与车辆、环境关系，通过多源位置信息融合挖掘，形成景区游客分布、流量监控与安全预警，便于景区的安全、智慧管理。
    （来源： 来源： 编辑：）</string>
		</dict>
		<dict>
			<key>title</key>
			<string>杭州共享单车采用北斗定位</string>
			<key>content</key>
			<string>共享单车平台杭州骑呗科技有限公司(下称骑呗科技)的共享单车近日登陆杭州。该共享单车采用北斗定位，将为大众提供便捷的绿色出行方式。
据悉，该共享单车采用北斗定位，基站与WIFI辅助定位，拥有物联车锁和动能发电技术；同时，单车使用防爆轮胎，无链条的轴传动，全铝不锈车身。另外，在2016年11月3日，骑呗科技与芝麻信用达成合作并宣布正式入驻杭州。
骑呗科技CEO周海有表示：“今日完成的1亿元A轮融资，将主要用于骑呗单车产品升级、供应链梳理、团队招募以及全国市场开拓。未来将继续深耕共享单车领域。”
(来源：速途网)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>秦皇岛：北斗应用配网自动化领域监控，试点推广</string>
			<key>content</key>
			<string>2016年12月27日11时29分，冀北秦皇岛供电公司监控人员发现北斗配电终端监测平台出现异常告警，立即通知开展抢修。作业人员通过移动作业终端锁定故障点，通过北斗系统定位导航功能，优选抢修路径，12分钟到达故障点开展抢修。
国家电网公司将北斗卫星系统应用于电网领域列入智能配网13项顶层战略计划，选择秦皇岛供电公司作为试点单位推广。目前，该公司北斗配电终端监测平台9条线路100套北斗卫星系统终端投入使用，北斗卫星通信和智能配电网管理有机结合，实现故障、人员、车辆位置实时监控，提高故障的判别准确度，配网故障定位时间由小时级别提高至分钟级别，极大提高了配网抢修效率。
目前，秦皇岛供电公司在配网调度、供电服务中心、网格化运维站全面应用北斗卫星系统，利用北斗卫星系统无需建设专网基站、无需敷设专用光缆的优势，以及较高的信息安全性，应用“精确定位”“精准对时”“短报文通信”等功能，实现配电网运行全面实时监控，快速定位配网故障，通过GIS定位故障位置并合理规划抢修线路，缩短故障停电时间，加快故障处理速度。该公司探索出北斗卫星系统在配网领域的典型应用场景和模式，形成了具有切实推广性的技术成果，为北斗卫星系统融入电网管控领域提供了宝贵经验，为公司规模化推广奠定基础。
下一步，秦皇岛供电公司将不断深化应用北斗卫星系统，探索遥控操作配电设备，开发北斗终端无线网络功能，监测输电线路滑坡等地质灾害。
(来源：国家电网报)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新疆：北斗系统开启用电信息采集新时代</string>
			<key>content</key>
			<string>“米东区芦草沟无通信信号网络覆盖台区的采集数据，已经通过北斗系统成功传到建设路机房服务器了，离我们彻底解决无信号偏远地区用电信息采集难问题又进了一步。”12月22日，新疆乌鲁木齐供电公司采集班成员袁坤仑兴奋地说。
据悉，乌鲁木齐公司用电信息采集系统建设自2011年起，采集数据上行传输，主要依托运营商无线公网。由采集设备登陆公网专用APN端口，将数据从三方服务器传递至主站服务器，以实现用电信息采集数据的远程传输。但由于新疆地域广阔，地理环境复杂，很多偏远地区未能覆盖网络信号，仅能采取人工抄表方式，不仅耗费大量人力、财力，同时长途跋涉赶赴现场作业存在诸多安全隐患。
近日，该公司以国家积极推动北斗系统在“一带一路”沿线国家推广应用为契机，配合新疆信通公司，研究北斗卫星系统在电力行业的综合性发展应用，在新疆地区首次使用北斗卫星，试点解决无信号覆盖地区用电信息采集问题，取得了首测成功。此次试点测试的成功，标志着乌鲁木齐公司用电信息采集技术正式涉入高精尖科技领域研究，并在该领域取得实质性的突破。北斗系统在用电信息采集方面的应用，也越来越趋于当前“大数据”应用云端访问、“云计算”的雏形。
目前，首测试点采集数据已通过卫星通信传送至北斗服务器正常存储。下一步，乌鲁木齐公司将继续配合新疆信通公司，对采回短报文解析、实时信息交互等方面深入研究，并对该传输方式的通信速率、可靠性、适用性全面综合评估，为该技术的推广奠定基础。
近年来，用电信息采集“大数据”已深入应用于电力行业各类基础业务，对以智能化、信息化、精益化管理提升客户侧供电服务质量，“互联网+”、智能电网建设等大发展方向而言，海量的用电信息采集“大数据”是真正的虚拟“黄金”、无形资产，继续深入在该方向挖掘潜在价值，研究用电信息采集新技术，开拓系统新功能，为智能电网和智慧城市打造一个可靠的基础数据资源库，乌鲁木齐公司将继续砥砺前行。
(来源：国网新疆电力公司)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北斗高精度在线监测系统在四川乐山电力投用</string>
			<key>content</key>
			<string>近日，“基于北斗技术的高压输电线铁塔和塔基的地质灾害在线监测与实时预警”项目顺利通过四川乐山电业局验收，现已正式投入使用。
乐山电业局是四川省电力公司下属国家特大一型供电企业，其位于乐山市沙湾镇的电力铁塔，因下方铝矿区常年开采导致区域沉降，附近出现多处裂缝，电力系统正常运行受到威胁。
南方测绘与乐山电业局合作，经过长期勘测和数据采集，充分分析北斗高精度监测技术在电力塔环境下的可行性，最终决定布设动态安全监测系统。系统主要对电塔倾斜和塔基存有地质灾害隐患(滑坡、地面沉降，地裂缝、危岩等)的地方进行实时在线式的监测。
监测内容主要包括位移类监测(北斗地表位移、裂缝、内部位移)，水情环境类监测(内部水位、降雨量、土壤含水率)，塔基结构类监测(倾斜、应力)等。通过监测软件，运检人员在办公室里就可基本了解隐患点变化趋势和铁塔安全情况。系统同时设有预警预案，可在紧急情况发生时及时通知并启动应急措施。
监测系统显着减少了运检人员工作量，提升了运营效率，为保障电网安全运营提供了可靠的技术手段，获得了电业局验收人员的一致好评。
项目设计施工时充分考虑到原工程特点，选择必要的监测项目和测点。监测点位布置突出重点，兼顾全面，统筹安排，合理选择。既保证监测点的位置具有代表性，又体现其特殊性，兼顾了性能和经济。
　
(来源：南方测绘)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>防被盗，电动车摩托车装上“北斗车卫士”</string>
			<key>content</key>
			<string>“有了‘北斗车卫士’，电动车停在哪里我都放心，再也不用担心被盗了！”近日，给电动自行车上安装了“北斗车卫士”后，汉川市脉旺镇居民蒋芬欣喜地说。
为了破解汽车、电动自行车、摩托车被盗难题，汉川市探索“互联网+防范”的新举措，安装“北斗车卫士”防盗。据了解，“北斗车卫士”基于4G网络，利用支持基站、北斗卫星定位的车载定位终端，实现对电动车进行实时监控、异常状态警告以及历史轨迹查询等功能。
目前，该镇已有100多台电动自行车、摩托车安装了“北斗车卫士”。
(来源：孝感日报)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>湖北深松作业机具安装北斗监测设备</string>
			<key>content</key>
			<string>今年是湖北省实施农机深松整地作业补助试点工作的第一年，农业部下达给湖北省150万亩农机深松整地作业任务。截至12月13日，湖北省农机作业北斗智能化管理平台监测显示，全省共完成农机深松整地作业面积154.82万亩，超额完成任务。
为确保农机深松整地作业质量，湖北省要求所有实施深松作业的机具必须安装上北斗深松作业监测终端，以随时监控农机作业轨迹、统计作业面积、核查作业质量。今年，湖北省开展农机深松整地作业的779台拖拉机，已全部安装上了北斗深松监测设备。
(来源：农民日报)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>湖北竹溪：为护林员配北斗巡护终端</string>
			<key>content</key>
			<string>湖北省竹溪县日前为全县157名护林员统一配发北斗巡护终端，并开展了北斗巡护系统操作培训。
竹溪县林业局将竹溪县地图装入北斗巡护系统，只要打开系统就能准确知道每一位护林员所在位置，还可查询护林员巡山路线图，对巡护期间森林防火、病虫害防治等情况进行实时采集和上报。护林员可通过巡护终端向指挥中心发送信息、打电话等，也可接收指挥中心传来的信息或查询与其他护林员之间的距离等。
北斗巡护终端外形类似手机，装配了我国自主研发的北斗卫星导航系统，实现遥感技术、卫星定位技术、地理信息系统技术的有机结合，而且防水、防摔、防雷击。
(来源：中国绿色时报)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>“互联网＋北斗物流”能找货源，还能监控疲劳驾驶</string>
			<key>content</key>
			<string>下载货源APP就能查看到你的货源在哪里，还能团购汽车保险和车辆零配件。司机是否疲劳驾驶，车辆开到哪里，都能适时监控和预警。记者昨天从合肥市蜀山区获悉，该区“互联网+北斗物流”项目获得合肥市第七届“挑战杯”创新创业大赛唯一个特等奖。
据介绍，“互联网+北斗物流”项目通过手机货源APP终端，能让行进中的空货车找到离自己最近的货源。项目负责人许正友告诉记者：“比如货车从合肥到深圳往返一趟，空车回来的运输费是2万元；但从深圳返回的时候如果能装载一车货，就能节约一半的成本。”目前这一手机APP已经进入试运行阶段。除此之外，该企业研发的北斗导航监控管理系统嵌入汽车发动机，还能监测到车辆运行状态，监测并预警司机是否疲劳驾驶，车辆自身是否存在安全隐患等。
(来源：新安晚报)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>湖南新晃：完成安装实时传输北斗数据平台</string>
			<key>content</key>
			<string>近日，湖南省新晃县运管所指导企业完成了公交车16台，出租车105台实时传输北斗数据平台安装工作，并对全县公交企业、出租车公司负责人进行了细致宣讲。
新晃县圆满完成了湖南省交通运输厅《关于全面使用“湖南省城乡道路客运油补和新能源车监管平台”的通知》文件要求，确保了车辆运营数据科学真实、合法合规，加强了监管部门对营运车辆的实时监管，对2017年度以后的燃油补贴申报工作既提高了工作效率又确保了运营数据精准，极大地提升了管理部门及企业管理水平。
(来源：湖南省交通运输厅)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>“北斗”学生卡 筑起校园安全墙</string>
			<key>content</key>
			<string>12月16日，青海省测绘地理信息局走进军区招待所幼儿园展开校园北斗学生卡赠送活动。
近年来，儿童安全一直是社会、学校、家庭关注的热点，关乎社会的安宁和稳定，将北斗芯片植入学生卡，形成集身份识别、安全定位功能查询、求助功能(SOS)、远程监听、亲情通话、学习管理、电子围栏于一身的新一代学生卡，可有效地保护中小学生安全，从而为儿童安全筑起一道“天基屏障”。
此次活动以“平安校园，关爱有‘芯’”为主题，活动旨在加快推动我国自主研发的北斗卫星导航系统在学生安全防护领域的应用。据悉，青海省测绘地理信息局此次共赠送出40张基于北斗卫星导航系统的学生卡，这些卡将先后发放给军区招待所幼儿园和虎台小学的学生。
活动现场，为了让小朋友们更好地了解北斗学生卡，青海省第一测绘院测绘基准中心的技术人员围绕着学生卡的安全防护作用制作了小电影，向小朋友和家长形象生动地展示了北斗卫星导航定位系统在保护儿童安全领域中所发挥的作用。
该技术人员告诉记者：“随着卫星导航等移动通讯领域的广泛集成，北斗正全面走向大众应用，服务大众生活。此次赠送的北斗学生卡，根据定位条件的不同，可向定位APP实时传送10-100米精度的位置信息，具有待机时间长，定位精度高的特点。它也将成为我省北斗在民生关爱领域的典型应用。”
(来源：青海新闻网)</string>
		</dict>
		<dict>
			<key>title</key>
			<string>广西：加大北斗应用研发，打造综合服务平台</string>
			<key>content</key>
			<string>近日，记者获悉，广西测绘地理信息局将研发一套基于北斗系统的集车辆数据上传、实时存储、查询服务、车辆管理、报警反馈于一体的综合服务平台。
此次研发的系统将直接面向公安部门和大众，通过“位置服务智能平台+北斗智能终端+手机APP ”的方式，利用北斗/GPS双模定位，实现对车辆位置实时监控、异常状态警告及历史轨迹查询等功能，其应用范围还可扩展至公车监控、“两客一危”监控等领域。随着需求的扩大、应用成本的降低，北斗导航位置服务将更广泛、更深入地服务于经济社会发展和百姓生活。
(来源：南宁日报)</string>
		</dict>
	</array>
</dict>
</plist>
