<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intro2terms</key>
	<array>
		<dict>
			<key>title</key>
			<string>中国在ICG中都做了什么？</string>
			<key>content</key>
			<string>2005年ICG组织正式成立，中国北斗系统与美国GPS 系统、俄罗斯格洛纳斯系统、欧盟伽利略系统被ICG认可为四大全球卫星导航系统核心供应商，中国被认可为该组织的创始成员国。截至目前，中国积极参加了历次ICG大会及相关活动，中方代表和专家累计参会数百人次；连续三届担任供应商论坛主席，并有多名中方专家出任ICG下设的国际GNSS监测评估任务组、应用子工作组、互操作任务组和IDM(干扰监测与减轻)任务组等多个重点议题的子工作组和任务组主席，与美、俄、欧、日等外方主席共同主持相关工作，积极贡献中国智慧，切实履行大国责任，得到联合国外空司和ICG成员们的高度认可和肯定。
2012年我国成功举办了ICG第七次大会(ICG-7)。推动形成ICG组织成了以来的首个全球卫星导航系统供应商联合声明，北斗系统日益成为在国际卫星导航领域的重要角色，国际地位显著提高，取得一系列重要成果。为了提高ICG运作架构和工作效率，中方积极贡献北斗智慧，各项工作得到普遍认可，在监测评估、教育应用和时间互操作等多个议题具有影响力。此外，从全球卫星导航系统共同利益出发，中方积极在各议题中发挥建设性积极作用，推行中国版各类模板，依托北航成立联合国空间科技教育亚太地区教育中心和ICG信息中心，开展国际教育培训活动，推动卫星导航应用普及。
随着北斗系统建设的稳步推进，以及参与ICG工作的逐步加深，北斗国际地位和影响力逐步提高，北斗声音、北斗力量已成为ICG平台不可忽视的重要力量。中方已积极表态，愿申办2018年ICG-13大会，作为GNSS领域庆祝联合国和平利用外空大会召开50周年的重要活动，继续为ICG和国际GNSS共同发展做出贡献。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>什么是ICG？</string>
			<key>content</key>
			<string>ICG是全球卫星导航系统国际委员会（International Committee on Global Navigation Satellite Systems）的英文简称，是在联合国框架下倡导成立的卫星导航领域的国际专业组织，旨在推动卫星导航系统的全球应用，是世界卫星导航领域交流、协调与合作的重要多边舞台，是卫星导航领域的“联合国”。
早在1999年召开的第三次联合国探索与和平利用外层空间会议以及2001年召开的联合国和平利用外层空间委员会会议中，关于加快全球卫星导航系统利用并促进其可持续发展就成为主要讨论的议题之一。2004年，由38个成员国和15个政府或非政府组织组成的GNSS(全球卫星导航系统)行动小组建议，应成立一个GNSS国际委员会，促进GNSS基础设施的全球应用和GNSS系统间的信息交换。
2005年12月，ICG在维也纳正式成立，旨在增强全球卫星导航系统兼容与互操作，促进卫星导航全球应用。ICG的成立标志着GNSS已成为一种国际资源，得到世界各国的广泛关注。
ICG每年召开一次大会，由ICG成员、准成员、观察员申请主办，参与者包括来自各卫星导航系统供应商以及全球卫星导航工业界、学术界、GNSS用户等各界代表，是世界卫星导航领域的重要会议。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>卫星导航仿真与测试</string>
			<key>content</key>
			<string>卫星导航仿真与测试是指利用计算机技术对卫星导航系统建设、运行、维护和使用等进行仿真试验、测试评估以及试验验证等相关的技术和方法。卫星导航仿真与测试技术是卫星导航系统建设、论证和产业化应用中不可或缺和自主掌握的核心关键技术。
利用现代计算机技术建立真实反映卫星导航系统工作原理及运行机制的系统模型，开展对卫星导航系统的主要功能、指标体系和核心算法进行试验和评估，是开展卫星导航系统建设论证和支持卫星导航产业化应用的重要基础工作之一，主要涉及卫星导航系统性能指标测试与评估体系、地面运控系统仿真测试与评估模型体系和用户终端设备仿真测试与计量检测体系三个方面工作。
以卫星导航信号模拟器为典型代表的卫星导航仿真与测试技术，是卫星导航领域的三大基础产品之一，也是北斗系统建设和应用中不可或缺以及必需自主可控的核心关键设备。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>卫星导航，让飞机着陆更安全</string>
			<key>content</key>
			<string>去年，GBAS卫星导航着陆系统正式在天津滨海国际机场开展安装和试验运行工作。天津机场成为国内首家安装该系统、开展卫星导航着陆系统适航取证工作的国际机场。　
专家认为，该卫星导航着陆系统打破了传统仪表着陆系统影响航迹灵活性和机场吞吐量的技术局限，为机场实现更安全、更高效的运营提供了新的选择，标志着我国自主全面掌握了卫星导航着陆系统技术。　
GBAS系统，即精密进近着陆引导方式卫星导航着陆系统，是新一代机场飞机导航、着陆、离场引导支持系统。它利用卫星导航信息，经过一系列精密算法处理，为飞机进近提供更安全、更可靠、更精确的引导信息，从而引导飞机精确进场、着陆。　
飞行中，最危险的、对飞行员技术要求最高的，莫过于飞机降落阶段。飞行员控制飞机着陆，除了目测外，更要依靠导航着陆系统，对飞机航向和下降高度进行引导以调整飞行姿态，使飞机对准跑道，并逐步下降到可以降落的高度。　
目前民航飞机领域应用比较广泛的是仪表着陆系统，它只能提供一条固定下滑角度、对准跑道中心线的直线航道进行着陆引导，不仅对飞行员的技术、经验要求高，还容易因天气以及障碍物而导致信号受到干扰，甚至大型飞机都有可能成为干扰信号的障碍物，使用仪表着陆系统需要大面积的保护区，对场地平整度要求极高，有些机场甚至限于客观条件而无法安装。　
与传统的仪表着陆系统相比，GBAS卫星导航着陆系统支持多种角度和路径的进近程序，可以使飞机绕飞、避开障碍物和敏感地区，从而极大地提高飞行安全性。特别是在飞机下降过程中，GBAS系统支持着陆连续进近，可帮助飞机平稳着陆，提高乘客舒适度。同时，一套系统可以支持多条跑道并行和交叉运行，提高了机场容量，减小了飞机延误率，可大大提高管制运行和飞行运行的效率。　
专家介绍说，传统的着陆系统只能在飞行条件良好的情况下，从跑道固定一端引导一架飞机直线着陆，导致其他飞机在空中排队的时间比较长，而新系统可以支持飞机从跑道任意一端降落，并提供飞机包括曲线进近等更多线路进港，减少飞机滑行时的“短暂等待”，缓解停机坪拥堵现象，增强机场吞吐能力，提高航班准点率。　
此前，GBAS卫星导航着陆系统已经成功地在林芝米林机场、银川机场、绵阳机场、南充机场、包头机场、锡林浩特机场进行了累计80余架次的试飞试验，取得了良好的效果。　
GBAS卫星导航着陆系统可以很好地解决我国西部地形环境复杂地区的机场进近着陆引导问题，大幅度提高高原、峡谷等地形复杂机场的飞行安全，为进一步提高我国民用航空可靠安全的运营提供重要技术支撑，为中国民航装备自主创新打下坚实基础。　
目前，该着陆系统项目团队在做好现有基于GPS的卫星导航着陆系统同时，正致力于基于我国北斗卫星系统的着陆系统研制，以加速北斗导航在民用航空领域的应用。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>精准农业中的卫星导航定位技术</string>
			<key>content</key>
			<string>精准农业中的卫星导航定位技术主要包括农业机械控制、精准病虫防治和灌溉、农田资源的普查和规划等。
　　1．农业机械控制
　　卫星导航定位技术在农业机械控制中的应用主要包括变量施肥播种机、联合收割机、无人驾驶拖拉机等。
　　（1）变量施肥播种机
　　精细农业变量控制的出发点是把大田块细化为小田块，按小田块收集田间状态信息，根据其差异性做出作业决策，即依据当前土壤养分状况和作物生长状况等田间状态信息编制出田间施肥或播种变量作业处方信息。作业处方信息包括田间不同区域应有的施肥量或播种量、定位信息、步进电机步进值等农事变量作业信息，并有针对性地加以实施。但不同的农田，农田信息分布空间差异较大，导致单位网格作业面积的大小定义差距较大，这样就必须根据网格大小采用不同精度的GNSS或DGPS数据。
　　（2）联合收割机
在联合收割机上安装全球定位系统接收机和地理信息系统，在农作物收货的时候，利用GNSS技术和产量传感器，由此获得农田作业区内不同区域、不同地块的农作物产量分布，把这些数据经过处理后可以制作产量分布图。之后，再将影响农作物生产的种种因素数据输进计算机，从而通过产量数据对比的方式，确定农作物产量分布不均匀的原因，并且制定相应有效的措施。由此，设计出农业机械的智能控制软件。在农田作业过程中，根据按需投入的原则，推进分布式投入，并综合分析某个农田、具体田块的总产量有没有提高或者减产，然后制定新的针对性更强的田间投入方式。相应的利用农作物的产量分布图，可以控制联合收割机的行驶速度、割幅，从而控制收割速度、脱粒喂入量，达到最佳的收割效果和最大的收割效率。（3）无人驾驶拖拉机
　　无人驾驶拖拉机是由固定操作站控制的无人驾驶农业机械，在卫星全球定位系统或在田间附近地面系统的导航下工作，具有很多优越性：可实现 24小时内连续精确作业；没有驾驶员，就没有必要安装驾驶室和操纵机构；可增加空间来安装农具，并减少机器重量，可提高机组工作效率。
　　2．精准病虫防治和灌溉
　　卫星导航定位技术在精准病虫防治和灌溉中的应用主要包括精准喷药、精准灌溉系统等。
　　（1）精准喷药
精准喷药是运用GNSS监测病虫草害，是预测预报的新手段，通过GNSS系统连接高质量视频摄像系统拍摄分析图像，可以收集原始数据，监测大田作物，得出田间病虫草害分布大小位置，并可以通过逐次拍摄确认害虫的迁飞路线、种群数量和为害程度，以及病虫草害发展方向及流行趋势。如要对大面积农田集中进行喷药，则可选择装有差分GNSS(DGPS)的飞机。DGPS航空导航系统可以引导飞行员从机场直接前往作业区，在已设计的航线和高度飞行喷洒药物，若飞行员加满药物再次返回作业区时，系统还能让飞机到达上次药物喷洒停止时的准确地点，以确保既无重复喷洒又无遗漏区域。
（2）精准灌溉
　　精确灌溉既能满足作物生长过程中对灌水时间、灌水量、灌水位置、灌水成分的精确要求，又能按照田间的每个操作单元的具体条件，精细准确地调整农业用水管理措施，最大限度地提高水的利用效率。在田间运用GNSS土地参数采样器采集植物生长的环境参数，如土壤湿度、地温等，通过GNSS中心控制基站，利用专家系统进行植物分析，可以调控植物生长环境，精确调控节水灌溉系统。
　　3.农田资源的普查和规划
　　在精准农业中，综合应用卫星导航技术、GIS和遥感技术，实现农田信息的数字化、可视化管理应用。技术人员利用GNSS手持机可以获得农田的地理位置信息。运用卫星定位测量技术，能够快速、高效、准确地量算出作业面积等参数。卫星导航接收机获得的农田定位信息通过GIS转化成相应的图形，同田间的各种信息结合，形成反映该信息的专题图和处方图，如肥力分布图、病虫害分布图等，用于农作物科学施肥、病虫害防治和估产等。
增加了卫星导航定位功能的土壤水分温度检测仪在测试土壤含水率的同时，可以测定测点的精确定位信息（经度、纬度），可随时显示采样点的位置信息，并可将位置和水分、组数等信息存储到主机内，也可通过计算机导出。因而，能够反映土壤水分的空间差异。不仅有利于实施节水灌溉，同时精确的供水也有利于提高作物的产量和品质。实现了含水率和三维位置信息的自动采样处理。通过卫星导航定位系统掌握土壤的水分（墒情）的分布状况，为差异化的节水灌概提供科学的依据，同时精确的供水也有利于提高作物的产量和品质。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>卫星导航增强系统民航应用</string>
			<key>content</key>
			<string>1 、前言
全球导航卫星系统（GNSS）作为未来民用航空运行的主要导航源，已经进入了快速发展和应用阶段。GNSS包含了四大核心星座，有美国的GPS、中国的北斗卫星导航系统、俄罗斯的GLONASS和欧洲的GALILEO，以及相关增强系统。其中，增强系统是为提升民航运行的完好性，满足民航应用安全需求而产生的卫星导航增强技术的具体实现。三种典型的增强技术包括空基增强系统（ABAS）技术、地基增强系统（GBAS）技术和星基增强系统（SBAS）技术，本文将重点介绍上述三者在民用航空中的应用，以及对于北斗卫星导航系统的增强技术研究。
2、 空基增强系统（ABAS）技术
2.1 接收机自主完好性监测（RAIM）技术原理及应用
典型的ABAS技术包括接收机自主完好性监测（RAIM）和机载自主完好性监测技术（AAIM）。前者使用接收机的冗余观测信息进行完好性监测，后者与惯性导航、气压高度表/无线电高度表等组合进行完好性监测和性能改善。RAIM是保证完好性的重要手段之一，它是由飞机上的接收机自主执行的故障检测。RAIM比较每颗GNSS卫星测量值与其他可用卫星测量值的一致性，以此方式在当前可用卫星集中检测故障卫星。RAIM被用于航路和终端区飞行阶段的辅助导航，并支持进近阶段的水平导航，目前RAIM无法支持垂直导航。
2.2  ARAIM技术发展
为打破这种限制，美国联邦航空局（FAA）利用多频多系统的有利条件，在RAIM的基础上提出了先进接收机自主完好性监测（ARAIM）的概念，即基于多频多星座的导航源，结合地面监测站提供的完好性支持电文（ISM），能够为用户实现垂直导航性能*LPV-200（*见备注，后同）的传统RAIM的升级。
在GPS-Galileo合作协议框架下，美国和欧洲于2010年成立了ARAIM技术工作组（ARAIM SG），其主要目标是设计ARAIM结构，使其在全球范围内支持LPV-200。目前SBAS能满足LPV-200的性能需求，全球LVP-200的覆盖范围仅为7.54%，主要为欧美地区，我国全境目前并未实现LPV-200性能。与SBAS相比，ARAIM运行成本更低而覆盖范围更广，未来有望在全球范围实现LPV-200性能。
FAA全球卫星导航系统项目办公室组织并建立的GNSS进化结构研究（GEAS）小组，以及欧盟-美国合作协议框架下的工作组C（WG-C），致力于ARAIM的研究，并先后发表了四个阶段性研究报告，确定了ARAIM的基本概念、用户算法、性能评估算法、体系结构等。2015年2月，WG-C ARAIM 技术小组发布了“欧盟-美国合作卫星导航第二阶段报告”，该报告提出了ARAIM三种结构：水平ARAIM、线下ARAIM、线上ARAIM。其中水平ARAIM能提供类似于RAIM的水平导航功能，但其在精度、完好性、可用性方面均显著提高；线下和线上ARAIM结构能够在全球范围内提供垂直导航性能。建议我国根据实际国情，基于自主建设的地基区域完好性监测系统（GRIMS）作为ARAIM系统的地面监测站网络，开发基于BDS/GPS的区域ARAIM系统，以实现我国境内LPV-200的覆盖。
2.3ABAS应用所存在问题
由于我国航空工业比较落后，大部分民航飞机和机载设备均为进口。随着BDS区域系统的民航应用和全球系统的建设，如何将ABAS技术应用于机载，实现“北斗上飞机”，急需国际民航组织和国际工业届权威标准的支持。因此，对于ABAS在我国应用与推广，标准研究和编制是亟需解决的核心问题。
3、地基增强系统（GBAS）技术.
3.1GBAS技术原理
GBAS对全球卫星导航系统（GNSS）进行差分校正和完好性监测，以提供安装机场周边大约23海里半径范围内的导航和精密进近服务。GBAS具有极高的精度、可用性和完好性，能够满足I类，未来甚至是II/III类精密进近的需求，其精度在水平和垂直方向均小于1米。使用GBAS的目的在于替代仪表着陆系统（ILS）以支持全范围的进近和着陆运行。目前，现存标准的GBAS能够提供C类GBAS进近服务（GAST-C，对应于I类精密进近）。满足II/III类精密进近的GAST-D的技术正在研究验证过程中，技术标准最早有望在2018年完成。
以GPS卫星导航系统为例，GBAS地面设备通常由位于机场的3根以上的GPS天线、中央处理系统和甚高频数据广播（VDB）装置组成。GBAS机载设备包括GPS天线、VDB天线和相关的处理设备。GBAS地面设备通过VDB数据链向机载用户提供GPS校正、完好性和进近路径信息。GBAS系统结构如图2所示。
现阶段民航飞行所依赖的GPS仅具备单频提供服务能力， SBAS和GBAS性能提升都面临单频模式下电离层异常情况处理的瓶颈问题，双频多系统将是较为稳妥解决方案。随着北斗卫星导航系统区域系统的民航应用推广和全球系统的建设，我国需加快包含北斗系统在内的多星座GBAS地面系统审定和验证工作，加速ABAS机载设备研制和适航工作，尽快开始北斗SBAS建设工作。GBAS地面数据处理设备首先利用每个参考接收机的测量值计算可见卫星的差分校正值，并实时监测空间信号和地面站的故障。然后生成卫星导航系统和GBAS自身的校正值和完好性信息电文。最后通过VDB将上述电文发送给机载用户。3.2GBAS技术优势
传统仪表着陆系统面临着诸如下滑道、降雪、因维护的关闭、VHF干扰以及多径等诸多限制。而GBAS作为对卫星导航系统有关生命安全的增强，提供了更高等级的服务，能够支持I类和II/III类精密进近，并实现在其工作范围内从进近、着陆、离场到场面运行的全覆盖。其具体的效益包括： GBAS可以为避开障碍物、噪音敏感区域或拥挤空域而优化设计进近路线；一套GBAS可以服务整个机场区域，从而减少设备的建设和维护费用等。因此，在从传统导航向基于性能的导航（PBN）演变的过程中，GBAS以其高精度、高可用性和低成本的特点，必将发挥重要的作用。
3.3 GBAS技术国内外应用现状
截至2014年4月29日，美国已有14个机场安装了Honeywell的SLS-4000型GBAS设备。其中，纽瓦克国际机场和休斯顿乔治布什洲际机场的GBAS设备先后获得FAA的运行许可。美国联合航空的波音737和787飞机正在使用上述机场的GBAS系统。此外，德国不莱梅的GBAS站也获得了I类精密进近的运行许可，位于澳大利亚悉尼和西班牙马拉加的GBAS站正在获取运行许可的过程中。德国法兰克福、瑞士苏黎世、印度金奈和南大西洋的圣赫勒拿岛的GBAS也在建设当中。
我国也在积极应用和发展GBAS系统。美国霍尼韦尔（Honeywell）公司的SLS-4000型GBAS设备已安装在上海浦东机场，于2015年3月20日利用空客A321在浦东机场进行了地基增强着陆系统（GLS）的演示验证。
2015年4月26日到29日，中国电子科技集团第二十研究所和北京航空航天大学共同研制的GBAS卫星导航着陆系统，在天津滨海国际机场开展了演示验证实验，不仅验证了支持现有基于GPS 的GBAS着陆引导能力，还实际验证了基于北斗（BDS）的GBAS着陆引导能力，得到了科技部和民航局领导专家的一致认可。
 3.4 GBAS应用所存在问题
GBAS在我国的应用推广尚存在以下三方面的问题。
一是电离层异常监测。美国于2000年首次发现了电离层异常情况，经过多年观测和研究，提出了部分电离层异常模型。但这些模型是基于处于中纬地区的北美电离层异常数据建立的，对于其他纬度区域或者同纬度不同经度区域，未必适用。因此，在我国应用GBAS，对电离层异常的监测和研究必不可少。
 二是频率资源申请。GBAS通过VDB向覆盖范围内的用户广播差分校正信息和完好性信息。由于我国航空无线电频率资源分配紧张，在不减少传统导航设施建设部署的情况下，很难为GBAS协调合适的频率资源，从而给GBAS的推广应用带来困难。
三是射频干扰抑制。射频干扰是GBAS面临的另一个重要问题。2009年11月23日在美国纽瓦克国际机场安装测试的GBAS设备被干扰源干扰，造成参考接收机卫星跟踪中断，类似的射频干扰事件时有发生。因此在民航应用当中，GBAS需具备高性能的抗干扰能力，以保障运行安全。
 4、 星基增强系统（SBAS）技术
 4.1SBAS技术原理
SBAS的工作原理如图4所示，首先由大量分布广泛的差分站（位置已知）对导航卫星进行监测，获得原始定位数据（伪距、卫星播发的相位等）并送至中央处理设施（主控站），主控站通过计算得到各卫星的各种定位修正信息，通过上行注入站发给GEO卫星，最后将修正信息播发给广大用户,从而达到提高定位精度的目的。简言之，通过地球静止轨道（GEO）卫星搭载卫星导航增强信号转发器，该系统向用户播发星历误差、卫星钟差、电离层延迟等多种修正信息，实现对于原有卫星导航系统定位精度的改进。 4.2SBAS技术优势
SBAS系统能为民用航空提供花费更低、可用性更高的导航功能，为航空领域带来巨大的经济和社会效益。首先，通过减少通信和雷达导引，降低了空管人员的工作负担，并且能为带有卫星导航接收机的民用飞机提供精密进场与着陆服务；其次，减小飞行时间和距离，可以节省燃料，降低飞行阶段的运行成本；最后，可以进一步降低机场噪声的影响。通过高精度定位，飞机可以按预定的航线重复飞行，这些预定航线可尝试规避城市和社区的上空，这样就降低了飞机飞行噪声对周边社区居民的影响。鉴于上述种种效益，各航天大国竞相发展SBAS系统。目前，全球已经建立起了多个SBAS系统，如美国的WAAS、欧洲的EGNOS、日本的MSAS、俄罗斯的SDCM、加拿大的CWAAS以及印度的GAGAN，各SBAS系统全球分布见图5。下面以WAAS和EGNOS为例简要阐述SBAS系统所带来的巨大效益。4.3SBAS技术国内外应用现状
WAAS于2003年投入试运行，后在阿拉斯加、加拿大以及墨西哥增设的参考站，极大提高了WASS系统的健壮性，大范围地提高了GPS的精度、完好性、连续性和可用性，主要为美国民用航空服务。
截止2015年1月，目前美国及加拿大具备WAAS能力的飞机场已经达1700多个。其中1055个机场公布了*LPV（*见备注，后同）的飞行程序，480个机场颁布了LPV-200的飞行程序。该系统的发展摆脱了飞机对地面系统的依赖，从而有效减少了飞行运营成本，据悉美国联邦航空局已经在考虑逐步取代VOR及ILS等地基导航辅助系统。此外，在农业、渔业及测绘领域，WASS系统也得到了广泛应用。
 EGNOS于2003年开始进入试运行状态，并在全球进行了测试。2009年9月，欧洲EGNOS系统正式启用。EGNOS公开服务的定位精度在欧洲中心地区其水平和垂直方向分别可达1m，个别地区水平为3m和垂直为4m。EGNOS系统极大促进了欧洲航空业的发展。
截止2015年3月，目前欧洲具备EGNOS能力的飞机场已经超过了130个，以法国（62个）和德国（11个）为主。其中102个机场颁布了LPV的飞行程序，33个机场达颁布了*APV II（*见备注，后同）的飞行程序。ESSP（欧洲卫星服务提供者）已在考虑结合EGNOS系统和PBN技术，为区域导航以及缺乏地基增强系统的边远地区导航提供助力。另外，以EGNOS系统为核心设立了多个项目：支撑APVII进近程序的SHERPA计划；为“公开服务”和“商业服务”阶段提供运营和维护的GSC OPS&amp;HSP计划；处理“全球导航卫星系统服务中心基础设施”设置的GSC INF计划等等。
目前我国也正在论证和筹备北斗SBAS的建设。根据我国代表团在2015年4月1日至3日欧空局（ESA）组织召开的第28届兼容互操作工作组（IWG）会议发言，北斗SBAS将向中国及其周边地区提供单频星基增强服务和双频多星座星基增强服务，预期的服务等级为*CAT-I（*见备注，后同）。我国现正开展双频多星座（DFMC）SBAS的设计；2018年将发射具备SBAS能力的GEO卫星；2020年将在亚太地区提供初始的DFMCSBAS服务；2025年左右将提供正式的SBAS服务。
 4.4SBAS应用所存在问题
如前文所述，各航空大国和地区都在升级和建设SBAS，对于系统运营方，如何实现多个SBAS之间的兼容与互操作；对于机载用户，如何选择GEO卫星播发的SBAS信息，利用多个SBAS的信息融合，实现无缝的高精度导航，是未来SBAS应用中可能存在的问题。
5、三种增强技术在航行各阶段的应用支持
卫星导航增强系统的发展支撑了航行各阶段的应用，如下表所示。表中黄色区域的GPS隐含了ABAS，因为航空型接收机的标配具有RAIM功能，紫色区域指有SBAS时可支持的导航和监视性能，蓝色区域指有GBAS时系统可支持的导航和监视性能。*飞行技术误差是影响整个系统精度的主要因素，系统精度由运行需求进行说明。定位精度可以忽略；
 ** RNP AR限值由整个系统的需求决定；典型值已得到验证。
表中的缩略语：非独立平行进近(DPA)，独立平行进近(IPA)，监视完好性水平(SIL)，导航完好性等级(NIC)，用于定位的导航精度等级(NACp)。
6、结语
本文从原理、技术优势、应用存在问题等方面详细分析了ABAS、GBAS和SBAS技术。从主要应用方式角度看，ABAS贯穿航行始终，SBAS重点保障到NPA阶段，GBAS则主要用于进近阶段。在实际应用中，三种增强系统相结合，能提供更大安全保障。例如，SBAS大范围的格网电离层监测可为GBAS提供预警；进近阶段，GBAS不满足CAT I性能时，机载设备需切换到ABAS运行。
现阶段民航飞行所依赖的GPS仅具备单频提供服务能力， SBAS和GBAS性能提升都面临单频模式下电离层异常情况处理的瓶颈问题，双频多系统将是较为稳妥解决方案。随着北斗卫星导航系统区域系统的民航应用推广和全球系统的建设，我国需加快包含北斗系统在内的多星座GBAS地面系统审定和验证工作，加速ABAS机载设备研制和适航工作，尽快开始北斗SBAS建设工作。
*备注：
文中提到的NPA等术语为航行各阶段的运行指标，按照其性能等级由低到高排序为：NPA —&gt; APV I—&gt; LPV—&gt; LPV-200—&gt; APV II—&gt; CAT I—&gt; CAT II—&gt; CAT IIIa—&gt; CAT IIIb。
其中，APV I、LPV、LPV-200、APV II都是由于星基增强系统出现才提出运行指标定义。
LPV为低至350英尺高度的具备水平和垂直引导精密进近程序（定位精度，水平：16m，垂直：20m；告警限，水平：40m，垂直：50m；完好性风险：1-2 × 10-7/ 每次进近；告警时间：10s）；
LPV-200为低至200英尺高度的具备水平和垂直引导精密进近程序，垂向精度等同于仪表着陆系统（ILS）提供CAT I精密进近服务的能力（定位精度，水平：16m，垂直：4m；告警限，水平：40m，垂直：35m；完好性风险：1-2 × 10-7/ 每次进近；告警时间：6.2s）；
APVII为利用侧向和垂直引导的仪表进近程序，允许用户利用垂直引导进行稳定的下降操作，而不需要传统的精密进近程序的精度要求（定位精度，水平：16m，垂直：8m；告警限，水平：40m，垂直：20m；完好性风险：1-2 ×10-7 / 每次进近；告警时间：6s）。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>火箭着陆地球与探测器落月有何区别？</string>
			<key>content</key>
			<string>在上世纪六七十年代的阿波罗任务中，人类曾成功登陆月球。对此，有商业公司还曾推出了一款名为“月球着陆器”的游戏，内容是通过调整着陆器的角度和推力，使它安全地着陆在月球表面。当然，现实中的月球着陆技术并非如此简单，但相比日前的猎鹰-9火箭着陆地球却容易的多。
二者的区别在哪里？月球着陆器在底部有个火箭，可以随侧面的推进器旋转。猎鹰-9火箭的底部有一个火箭发动机，通过它来进行推进和旋转两个任务，这使得猎鹰-9火箭操作起来更有难度。另一方面，月球的重力较小，使月球着陆器更易操纵。此外，火箭的“身高”比月球着陆器高得多，因此重心也更高，控制起来更为不易。
假设猎鹰-9火箭正要着陆，而它在水平方向有一定的速度。为了减缓速度，保证安全着陆，而它在水平方向有一定的速度。为了减缓速度，保证安全着陆，火箭必须向相反的方向推进。然而，由于这一推力作用的方向并不完全经过质心，火箭会受到一个扭矩，导致旋转运动的变化。与此同时，还要调整火箭垂直方向上推力的大小，使火箭垂直速度下降。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>卫星平台有什么作用?</string>
			<key>content</key>
			<string>卫星平台是由卫星本体和保障系统组成，可以支持一种或几种有效载荷的组合体。卫星平台实际上就是卫星除了有效载荷或有效载荷舱以外的部分。卫星平台可以由卫星保障系统组合成一个或几个舱段，例如服务舱、推进舱和返回舱等。
从已研制成功的卫星分析，卫星平台不论安装什么有效载荷，其基本功能都是一致的，只是具体的技术性能会有所差别。根据这一特点，世界上许多国家在卫星研制中，都采取卫星公用平台的设计思路，使卫星平台具有通用性，在一定范围内适应不同有效载荷的要求。因此，装载不同的有效载荷时，卫星平台只需做少量适应性修改即可。采用这种公用平台的设计方法，可以缩短卫星研制周期，节省研制经费，提高卫星可靠性。
支持卫星有效载荷的卫星平台也称为“服务舱”，一般分为以下几个系统：能源分系统，为整个卫星提供能源；姿态轨道控制系统，保持卫星天线指向和运行轨道准确；推进系统，为卫星定轨，保持轨道和控制姿态提供动量；遥测、测距和指令系统，与地面控制中心联系；温度控制系统，保证卫星各种器件工作在合适的温度。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>火箭为什么要“开口”透气？</string>
			<key>content</key>
			<string>简单地说，运载火箭上设计留有排气孔，可以有效地平衡火箭箭体封闭舱段的内外压差，防止箭体由于内外部压力差引起箭体结构破坏。
运载火箭的箭体是由不同的封闭封闭圆筒段、锥段组合而成的，封闭的结构在外界环境发生变化时会遇到一系列的问题。
例如，飞行过程中，随着火箭的迅速爬升，火箭外界的环境压力急剧下降，火箭相应舱段的外界压力也随之急剧下降。如果火箭舱内的压力保持不变，会使火箭的外壳受到很大的内压，就像往气球中不断吹气增加气球内部的压力一样。当超过火箭外壳所能承受的极限是，火箭结构就会被破坏。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>什么是冗余容错设计？</string>
			<key>content</key>
			<string>飞机或长途行驶的汽车，一般都配有两名驾驶员，当主驾驶不能驾驶时，由副驾驶顶替。而对航天器飞行控制系统而言也一样，当“主驾驶员”出现故障时，就要更换“副驾驶员”操控。
冗余设计，简而言之就是备份的设计。冗余容错设计，是指针对完成某功能的硬件或软件，通过增加更多相同或相似的硬件或软件，将之设计成出现故障或错误时仍有能力完成其承担的功能。冗余容错设计是提高航天器可靠性的重要手段之一。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>太空中的航天器靠什么有序运行？</string>
			<key>content</key>
			<string>人类至今已先后将各种卫星、飞船、航天飞机和空间站等6000多个航天器送入太空。越来越拥挤的太空之所以没有变的杂乱无序，是因为有一张神奇的网始终引导着这些航天器按照预定的轨道飞行，即使偶尔偏离轨道也能很快让它们“迷途知返”。
这张神奇的网就是庞大的航天测控网。航天测控网始终掌握着航天器的“一举一动”。
如果将太空中的航天器比作“风筝”，那么测控网中遍布全球各地的测控站和分布在海洋上的测量船就是牵住“风筝”的那一根根“线”，地面段指挥控制系统就像放风筝的人，通过这些看不见的“线”对航天器的飞行状态、有效载荷进行监视，并进行指挥控制。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>什么是卫星的有效载荷？</string>
			<key>content</key>
			<string>直接执行特定卫星任务的仪器、设备或分系统就是卫星的有效载荷。它的种类很多，即使是同一种类型的有效载荷，性能差别也很大。
例如，返回式卫星返回舱的有效载荷有回收的信息载体、材料或制品，通信卫星的有效载荷有通信转发器和天线，导航卫星的有效载荷有星载原子钟、导航数据存储器及数据注入接收机等。
单一用途的卫星，一般装有一种或两种有效载荷；多用途卫星，一般装有几种有效载荷。随着航天技术的不断发展，有效载荷也在逐步向低功耗、小质量和小体积的方向发展。对于对地观测卫星而言，把多种遥感器安装在一颗卫星上，去完成不同的任务，是提高费效比的主要发展趋势。安装不同有效载荷的卫星，就发展成了多用途卫星，如资源卫星、环境气象卫星、导航定位卫星等。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>什么是电离层误差</string>
			<key>content</key>
			<string>由于电离层中存在自由电子，故GPS信号穿越这一区域时，并非用真空中的光速行进，而是形成调制信号包络的传播时延，这时延量的数值与传播路径上的总电子含量（沿以传播路径为圆心的单位截面的柱体中包含的自由电子总量）成正比，与载波频率平方成反比。与其相反的是，无线电载波频率的相位传播却比真空中超前，超前的时间量与时延值相等。载波平滑接收机在其滤波器设计中，就考虑了这种因素。电离层的模型在中纬度应用中较为合理有效，这是因为该区域电离层相对较稳定，而在赤道区附近或磁极区，电离层的起伏变化相当大，其特性往往无法用简单的模型加以描述。
所有的用户均可修正其原始伪距的电离层时延。最简单的办法是运用电离层时延的昼夜变化模型，模型参数在导航电文中会不时地加以更新。这一模型的有效精度在中纬度用户测距中约2～5m。
改正电离层时延的另一种方法是使用双频接收机，测量在L1和L2上的两种信号到达时间差，直接通过数学线性处理方法将时延消除。利用这种双频技术和经过很好定标的接收机，提供的测距精度为1～2m。
还有一种方法是依赖近实时的更新，如广域差分GPS（WADGPS）提供差分改正信息，也能达到1～2m的精度。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>MSAS</string>
			<key>content</key>
			<string>MSAS(Multi-Functional Satellite Augmentation System) 是日本的多功能GPS卫星星基增强系统，主要目的是为日本航空提供通信与导航服务。系统覆盖范围为日本所有飞行服务区，也可以为亚太地区的机动用户播发气象数据信息。该项目由日本气象局和日本交通部于1996年开始实施，合同承包商是阿尔卡特、东芝和三菱公司。
MSAS的空间段由两颗多功能传输卫星（MTSat）组成，它们是日本发展的地球静止轨道气象和环境观测卫星——“向日葵”（Himawari）卫星的第二代。MTSat是日本国土交通省（MLIT）和日本气象厅共同出资发展的气象观测与GPS系统导航增强卫星。除了为日本气象厅提供气象服务外，还为日本民航局（JCAB）执行航空运输管理和导航服务。美国劳拉空间系统公司是MTSat-1/1R卫星的主承包商，日本三菱电机公司是MTSat-2卫星的主承包商。截至目前，在轨运行的卫星包括MTSat-1R和MTSat-2，分别位于东经140°和145°上，采用Ku波段和L波段两个载波，其中Ku波段主要用于播发气象数据，L波段频率与GPS L1频段相同，主要用于导航服务。
MSAS系统的地面段包括：2个主控站分别位于神户和常陆太田，4个地面监测站（GMS）分别位于福冈、札幌、东京和那霸，2个监测测距站（MRS）分别位于夏威夷和澳大利亚。日本的多功能卫星星基增强系统（MSAS）已于2007年9月实现初始运行，完成了地面系统以及两颗MTSAT卫星的集成、卫星覆盖区域测试以及MTSAT卫星位置的安全评估和运行评估测试（包括卫星信号功率测试、动静态定位测试和主控站备份切换测试等）。测试表明，MSAS能够很好地提高日本偏远岛屿机场的导航服务性能，满足国际民航组织（ICAO）对非精密近进阶段（NPA）等方面的要求。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>SDCM</string>
			<key>content</key>
			<string>自2002年起，俄罗斯联邦就开始着手研发建立GLONASS系统的卫星导航增强系统——差分校正和监测系统（SDCM）。SDCM将为GLONASS以及其他全球卫星导航系统提供性能强化，以满足所需的高精确度及可靠性。和其他的卫星导航增强系统类似，SDCM也利用了差分定位的原理，该系统主要由3部分组成：差分校准和监测站、中央处理设施以及用来中继差分校正信息的地球静止卫星。
俄罗斯的SDCM增强系统的空间段由三颗GEO卫星——“射线”（Luch或Loutch）卫星组成，分别为Luch-5A、Luch-5B和Luch-4。“射线”卫星是苏联/俄罗斯民用数据中继卫星系列，主要为苏联/俄罗斯和平号（Mir）空间站、暴风雪号（Buran）航天飞机、联盟号（Soyuz）飞船等载人航天器以及其他卫星提供数据中继业务，另外也用于卫星固定通信业务。同时，作为SDCM的空间部分，这三颗卫星上搭载了SDCM信号转发器，可将SDCM信号从中央处理设施转发给各用户。第一颗卫星“Luch-5A”，于2011年发射到西经16°的轨道位置。第二颗卫星“Luch-5B”，于2012年发射到东经95°的轨道位置。到了2014年，随着第三颗卫星“Luch-4”发射到东经167°轨道位置，SDCM的空间段将部署完成。近几年，俄罗斯政府一直大力建设SDCM系统的地面差分校准和监测站，见表1。截止到2012年末，俄罗斯政府已经建立差分站24个，其中在俄罗斯境内建成了19个差分站，在俄罗斯境外建成了5个差分站。在境外的5个差分站中，其中有南极洲的3个站，并还在计划建立第4个站。
根据2012年ICG大会上俄罗斯透露的消息，未来俄罗斯政府还将建立39个差分站，其中将包括俄境内的21个站以及俄境外的18个站，其中将包括我国的长春和昆明。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>SBAS</string>
			<key>content</key>
			<string>单纯依靠卫星导航系统，哪怕是目前定位精度最高的GPS系统，也无法满足一些对定位精度要求比较高的应用需求，比如航空领域的飞机精密进近等。因此，针对这种需求，尤其是来自航空业的迫切需要，许多国家都发展了自己的卫星导航增强系统。
SBAS（Satellite-Based Augmentation System），即星基增强系统，通过地球静止轨道（GEO）卫星搭载卫星导航增强信号转发器，可以向用户播发星历误差、卫星钟差、电离层延迟等多种修正信息，实现对于原有卫星导航系统定位精度的改进，从而成为各航天大国竞相发展的手段。目前，全球已经建立起了多个SBAS系统，如美国的WAAS（Wide Area Augmentation System）、俄罗斯的SDCM（System for Differential Corrections and Monitoring）、欧洲的EGNOS（European Geostationary Navigation Overlay Service）、日本的MSAS（Multi-functional Satellite Augmentation System）以及印度的GAGAN（GPS Aided Geo Augmented Navigation）。上述SBAS系统的工作原理大致相同。首先，由大量分布极广的差分站（位置已知）对导航卫星进行监测，获得原始定位数据（伪距、卫星播发的相位等）并送至中央处理设施（主控站），后者通过计算得到各卫星的各种定位修正信息，通过上行注入站发给GEO卫星，最后将修正信息播发给广大用户,从而达到提高定位精度的目的。SBAS系统能为民用航空提供花费更低、可用性更高的导航功能，并将为航空领域带来巨大的经济和社会效益。首先，通过减少通信和雷达导引，降低了空管人员的工作负担，并且能为带有卫星导航接收机的军用飞机提供精密进场与着陆服务；其次，减小飞行时间和距离，可以节省燃料，降低飞行阶段的运行成本；最后，可以进一步降低机场噪声的影响，通过高精度定位，飞机可以按预定的航线重复飞行，这些预定航线可尝试规避城市和社区的上空，这样就降低了飞机飞行噪声对周边社区居民的影响。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>EGNOS</string>
			<key>content</key>
			<string>欧洲地球静止导航重叠服务（EGNOS）是欧洲自主开发建设的星基导航增强系统，它通过增强GPS和GLONASS两个卫星导航系统的定位精度，来满足高安全用户的需求。它是欧洲GNSS（global navigation satellite system）计划的第一步，是欧洲开发的Galileo卫星导航系统计划的前奏。
EGNOS系统是欧洲航天局（ESA）、欧盟（EU）和欧洲航空安全组织（Eurocontrol）联合规划的项目，欧空局全面负责EGNOS系统的技术设计和工程建设，欧盟负责国际合作，并且确保把各类用户对系统的要求融入到EGNOS系统的设计和实施中。欧洲航空安全组织设计民用航空需求，并且在系统测试中扮演主要角色。
EGNOS系统已经于2009年开始正式运行使用，并将至少工作20年以上。目前，EGNOS系统可以提供三种服务：（1）免费的公开服务，定位精度1m，已于2009年10月开始服务；（2）生命安全服务，定位精度1m,已于2011年3月开始服务；（3）EGNOS数据访问服务，定位精度小于1m，已于2012年7月开始服务。
EGNOS系统空间段由三颗地球静止轨道通信卫星组成，搭载导航增强转发器，播发导航增强信号。目前该系统所使用的三颗卫星为Inmarsat-3 F2（AOR-E）、Inmarsat-3 F1（IOR）以及ARTEMIS卫星，轨道分别为西经15.5°、东经65.5°以及东经21.3°。Inmarsat-3 F1和Inmarsat-3 F2是国际移动卫星（Inmarsat）的第3代,卫星的主承包商是马丁-玛丽埃塔航天公司（Martin Marietta Astro Space），有效载荷由马特拉-马可尼航天公司提供，采用GE-4000平台。“阿特米斯”（ARTEMIS）卫星是在ESA的支持下发展的试验通信卫星，全称为“先进中继和技术试验任务卫星”，主要目标是验证移动通信和数据中继相关的通信技术。ARTEMIS卫星于2001年7月12日发射。目前，欧洲具备EGNOS能力的飞机场已经超过了50个，以法国和德国为主，而未来计划配备EGNOS能力的飞机场还将超过50个。这样来看，未来在欧洲将至少有100个机场具备EGNOS能力。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>GAGAN</string>
			<key>content</key>
			<string>GAGAN是由印度空间组织（ISRO）和印度航空管理局（AAI）联合组织开发的GPS辅助静地轨道增强导航系统。
GAGAN系统的空间段由三颗位于印度洋上空的GEO卫星构成，采用C波段和L波段，其中C波段主要用于测控，L波段与GPS的L1（1575.42MHz）和L5（1176.45MHz）频率完全相同，用于播发导航信息，并可与GPS兼容和互操作。空间信号覆盖整个印度大陆，能为用户提供GPS信号和差分修正信息，用于改善印度机场和航空应用的GPS定位精度和可靠性。
按计划，GAGAN空间段的三颗GEO卫星分别为“地球静止卫星”（Geosynchronous Satellite，GSAT）系列的GSAT-8、GSAT-10以及GSAT-15。“地球静止卫星”是印度自主发展的静止轨道通信卫星系列，是印度国家卫星系统两大系列之一，由印度空间研究组织研制，并计划采用印度自己的“地球同步卫星运载火箭”（GSLV）发射。目前，GAGAN系统空间段计划使用的三颗GEO卫星已经发射了两颗：第一颗搭载GAGAN载荷的卫星GSAT-8于2011年5月发射，目前正工作在东经55？的轨道上；第二颗搭载GAGAN载荷的卫星GSAT-10于2012年9月28日发射，目前正工作在东经83度的轨道上；最后一颗GSAT-15计划于2014年发射。
GAGAN系统的地面段包括：1个位于班加罗尔的主控站、8个分别位于德里、班加罗尔、艾哈迈达巴德、加尔各答、查谟、布莱尔港、古瓦哈蒂、特里凡得琅的地面参考站以及1个上行链路站组成，由印度空间研究组织的数字化通信系统将各子系统整合在一起。</string>
		</dict>
	</array>
</dict>
</plist>
