<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>times</key>
	<array>
		<dict>
			<key>title</key>
			<string>2016北斗相关政策</string>
			<key>time</key>
			<string>2017-01-24</string>
		</dict>
		<dict>
			<key>title</key>
			<string>各省两会热议北斗</string>
			<key>time</key>
			<string>2017-01-23</string>
		</dict>
		<dict>
			<key>title</key>
			<string>2016北斗应用之特殊人群关爱</string>
			<key>time</key>
			<string>2017-01-23</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北斗开放立法，期待您的参与</string>
			<key>time</key>
			<string>2017-01-22</string>
		</dict>
		<dict>
			<key>title</key>
			<string>2016北斗应用之防灾减灾</string>
			<key>time</key>
			<string>2017-01-22</string>
		</dict>
		<dict>
			<key>title</key>
			<string>瑞典车辆安全系统制造商展出用于驾驶辅助系统的定位模块</string>
			<key>time</key>
			<string>2017-01-24</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Spirent公司发布新GNSS测试软件</string>
			<key>time</key>
			<string>2017-01-22</string>
		</dict>
		<dict>
			<key>title</key>
			<string>日本：将再发射三颗卫星，加强其卫星导航系统</string>
			<key>time</key>
			<string>2017-01-14</string>
		</dict>
		<dict>
			<key>title</key>
			<string>欧洲宣布伽利略系统投入初始运行</string>
			<key>time</key>
			<string>2016-12-20</string>
		</dict>
		<dict>
			<key>title</key>
			<string>欧洲向韩国出售EGNOS技术</string>
			<key>time</key>
			<string>2016-12-07</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北斗监测武汉市大桥形变</string>
			<key>time</key>
			<string>2017-01-23</string>
		</dict>
		<dict>
			<key>title</key>
			<string>四川建成北斗平台 导航更精准了</string>
			<key>time</key>
			<string>2017-01-22</string>
		</dict>
		<dict>
			<key>title</key>
			<string>重庆发布互联网经济五年规划，加快北斗技术突破与应用</string>
			<key>time</key>
			<string>2017-01-20</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北斗监测神农溪大桥形变</string>
			<key>time</key>
			<string>2017-01-19</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北京顺义：为救灾员配备北斗应急报灾终端</string>
			<key>time</key>
			<string>2017-01-19</string>
		</dict>
	</array>
	<key>news</key>
	<array>
		<dict>
			<key>title</key>
			<string>2016北斗相关政策</string>
			<key>content</key>
			<string>（北斗网讯 记者陈飚）2016年，北斗业界最重大的事件是什么？无疑是，国务院新闻办发布《中国北斗卫星导航系统》白皮书。该白皮书介绍了北斗系统建设历程，阐释了中国发展北斗系统的理念主张，展示了北斗系统的阶段进展成就和广阔发展前景，回应了国际社会的广泛关切。
　　中国政府高度重视北斗系统发展，将北斗系统列为科技重大专项，支撑国家创新发展战略。2016年，国家将北斗系统与“一带一路”“信息化发展”等战略深度融合，出台的《中国对阿拉伯国家政策文件》《国家信息化发展战略纲要》等政策，让作为国家重要空间基础设施的北斗系统，更好地为国家政治、经济、外交服务，甚至走出国门，造福世界人民。
　　国家发改委、交通部、住建部、国土部、工信部等国家部委相继出台北斗系统应用与产业化政策，以国家力量助推北斗系统发展的同时，也为北斗系统更好地深入各行业应用提供了政策指导与保障。
　　北京、黑龙江、河南、湖北、湖南、安徽、福建等省也重拳出击，出台各种北斗应用与产业化政策。各地相关政策更加贴合当地的实际需求，对于北斗产业的规划更加细致。北斗系统被视为各地经济发展的重要动力，将服务各地的工业生产与人民生活。
　　未来，随着北斗系统建设的深入，可以想见将会有更多的政策出台，更好地促进北斗系统的健康发展，从而让中国人民，甚至世界人民获益。
 
国家政策
1月，中国政府发布《中国对阿拉伯国家政策文件》，提出促进北斗系统落地阿拉伯国家，服务“一带一路”。
6月，国务院新闻办发布《中国北斗卫星导航系统》白皮书。
7月，中共中央办公厅、国务院办公厅发布《国家信息化发展战略纲要》，提出统筹北斗卫星导航系统建设和应用。
7月，国家发展改革委、交通运输部、住房城乡建设部、国土资源部联合下发《关于加强干线公路与城市道路有效衔接的指导意见》，指出研发利用北斗技术，实现无障碍通行支付。
11月，国家工业和信息化部修订《无线电管理条例》，提出将为北斗导航等多个信息产业领域的发展扫除技术和政策障碍。
12月，交通运输部发布《关于在行业推广应用北斗卫星导航系统的指导意见（送审稿）》。
12月，国务院印发《“十三五”国家信息化规划》，提出北斗系统建设应用等优先行动。
12月，国务院发布《“十三五”国家战略性新兴产业发展规划》，提出“十三五”要做大做强北斗等卫星及应用产业，建成北斗全球卫星导航系统。
12月，国务院发布《中国交通运输发展》白皮书，指出在交通行业，北斗导航等信息化、智能化技术广泛应用。
12月，国务院发布《2016中国的航天》白皮书，指出未来五年，继续开展北斗全球系统建设。
 
地方政策
1月，湖北省发布《中国制造2025湖北行动纲要》，提出形成北斗产业集群。
1月，北京市发布《北京市人民政府关于积极推进“互联网+”行动的实施意见》公布，提出加强北斗系统应用。
6月，河南省发布《河南省北斗导航产业三年(2016—2018年)发展行动计划》。（河南出台北斗产业三年行动计划 2018年产值达600亿元）
8月，湖南省长沙市出台《长沙市加快北斗产业发展三年行动计划(2016-2018年)》。（长沙：“技术+政策”铺路 打造北斗产业高地）
10月，福建省福州市发布《福州市“十三五”安全生产专项规划》，将实施海洋渔业北斗应用等8个重点工程项目。
10月，福建省泉州市发布《泉州市网络预约出租汽车经营服务管理实施细则》，规定网约车辆须安装北斗定位装置。
10月，安徽省发布《推进农机农艺农信融合发展实施方案》，到2020年，将有1万台以上农机用上北斗系统。
11月，湖北省发布《湖北省测绘地理信息事业发展“十三五”规划》，按照规划提出目标，北斗卫星导航应用产业将达到千亿元规模。
11月，黑龙江省发布《黑龙江省地理信息产业发展规划(2016—2020年)》，提出发展北斗产业等十四项重点内容。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>各省两会热议北斗</string>
			<key>content</key>
			<string>（北斗网讯 记者陈飚）近日，各省市两会正在如火如荼地召开。各省市人大代表与政协委员对于北斗系统密切关注，多人表示需要通过北斗应用与产业化发展，助推城市智慧化发展。
湖南省人大代表向志明提出，对于湖南省公务用车采用北斗运营管理系统进行监控、调度和管理。公务用车北斗运营管理系统能够对车辆全方位管理，从购置到报废实现“全生命周期管理”，在里程油耗管理、车队分级管理、成本费用、优化资源配备等方面都有优势。另一方面，向志明建议，还可以结合移动互联网技术，公务员直接通过网络、电话、APP等通信手段预约下单，并在提供服务后，由公务员给予点评和反馈，提高公务车车队服务能力。
湖北省政协常委李燕萍表示，打造“北斗+互联网”示范城市，建立湖北省城市重点领域综合监管系统。利用“北斗+互联网”技术，对全省建筑渣土、装修垃圾、生活垃圾、矿石运输、医疗废物、校车、执法车等对象实现从“源头到末端”的全过程透明实时监管，为全省的安全生产、城市规划、污染稽查、环境监测、透明执法等提供科学依据和决策参考；建立食品安全、交通安全、生产安全（建筑塔吊、电梯运行监测）等监管体系，将安全隐患提前预警；建立全方位、信息化的针对重点特殊人群（老人、小孩、劳教人员等）的服务体系。通过“北斗+”的全方位推广和运用，“让天更蓝”“让交通更安全”“让城市更文明”。
安徽省政协委员张腊梅建议，由安徽省发改委牵头，尽快编制出台《安徽省北斗卫星导航系统应用与产业化实施方案（2017-2020）》；建立安徽北斗系统卫星导航产业技术创新战略联盟，搭建政府和企业、企业和企业之间的合作平台；开展北斗系统城市综合应用示范；以推进“北斗系统+安徽制造”融合发展为切入点，支持企业推进北斗系统与移动互联网、物联网、大数据等产业的融合；加强北斗系统导航位置服务在国土、环境、农业等传统资源管理和城市规划、交通、卫生等公共服务领域，以及广告、数字、影像、游戏、设计等创意产业领域的应用。
北斗系统应用与产业化在逐步推进，全国各地呈现百花齐放的局面。在经济转型、科技创新、大众创业等背景下，北斗系统作为助推各省市经济发展的全新手段，正在被越来越多地认知与应用。北斗系统将为各省市的智慧城市、智慧管理、智慧交通等建设贡献一份力，也将促进各省市经济转型与产业发展，并为当地百姓带来福祉。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>2016北斗应用之特殊人群关爱</string>
			<key>content</key>
			<string>（北斗网讯 记者陈飚）2016年，北斗系统利用自身的导航定位、短报文等功能，为老人、儿童、残疾人等特殊人群搭建来自太空的“保护伞”。北京、上海、河北、河南、湖南、陕西、青海、江苏、四川等省相继推出北斗特殊人群关爱终端与平台。
　　河北等省推出的北斗特殊人群关爱平台还实现了与公安系统对接。老人、儿童外出遇险时，可以通过北斗终端实现一键报警，公安系统收到报警信息第一时间进行处理，保障老人、儿童的安全。
　　老年人如何实现智慧养老，也是社会普遍关心的问题。陕西等省通过集成北斗终端，搭建北斗智能养老平台，为老年人提供各种智慧养老服务，让北斗系统带给老人更多的温暖。对于儿童防走失问题，北斗终端可以设置电子围栏，孩子走出了一定范围，家长手机就能收到提醒，为孩子的安全加了一道防护。
未来，北斗系统在特殊人群关爱领域将会一直推进，随着大数据、云计算等技术的支撑与高精度应用的深度融合，相信未来北斗系统将为老人、儿童等特殊人群提供更多的服务与关爱。
 
1月，上海市启动“百万北斗敬老卡免费送”项目。
2月，河南省安阳市正式启动北斗智慧居家养老服务系统。
4月，陕西省西安市举行北斗居家智慧养老服务运营平台和养老智能服务终端捐赠仪式。
5月，河北省南宫市启动“护校安园”民心工程，搭建北斗定位安全管理平台。
5月，陕西省太原市启动“基于北斗+居家智慧养老示范项目”。
6月，江苏省徐州市启动基于北斗的“中小学生与老人、残疾人等特殊人群智能安全防护体系”项目。
7月，四川省成都市基于北斗的“爱在线”校园卡发布，并将在都江堰北街小学试用。
8月，湖南省衡阳县举行“北斗智能安全学生证、老年卡”公益捐赠活动。
11月，北京市推出北斗关爱平台。
12月，青海省为军区招待所幼儿园赠送校园北斗学生卡。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北斗开放立法，期待您的参与</string>
			<key>content</key>
			<string>根据国务院立法计划，《中华人民共和国卫星导航条例》正在全面研究起草。为开放立法、广泛征集意见，中国卫星导航系统管理办公室现网上征求社会各界对卫星导航立法的意见和建议。
期待您积极参与与支持，您的意见和建议将会被认真研究。可将意见发送至lawmaking@beidou.gov.cn或yangjl@beidou.gov.cn。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>2016北斗应用之防灾减灾</string>
			<key>content</key>
			<string>（北斗网讯 记者陈飚）2016年，北斗系统为全国人民的防灾减灾事业锦上添花。上海、辽宁、青海、山东、山西、宁夏、福建等省相继下发北斗报灾终端，灾情险情一键上报；北京、福建、云南、湖南、西安、云南、广东等省通过北斗系统构建气象、防灾减灾系统，让防灾减灾更加科学与精确。
特别是北京市在容易出现汛情的下凹立交桥的抢险抽排位置、检查井及雨水箅子重要设施布设北斗定位终端，汛情出现时，工作人员能迅速定位，快速排水，为城市防汛提供了全新的思路与方式。
通过地基增强等差分增强手段，北斗高精度应用在防灾减灾领域也发挥出重要作用。2016年，黑龙江、陕西、湖北、浙江、福建等省利用北斗高精度的形变监测应用，对桥梁、水库大坝、山区铁路、旧房危房进行防灾监测。哪怕小到毫米的位置移动，也难逃北斗高精度的法眼。北斗系统默默地为百姓的生命安全构建坚固的防线，以科技化的手段将灾害防范于未然，提升百姓生活的幸福感。
 
防灾报灾
1月，山西省已有近4000个行政村安装了北斗预警信息发布系统。
1月，福建省应急通信工程北斗及卫星系统项目完成招标工作，将建设北斗位置服务与应急系统。
3月，青海省利用北斗，实施乡镇网络报灾和村级应用APP软件报灾试点工作。
4月，云南省气象部门运用北斗气象通信系统，开展灾区应急气象服务。
5月，上海部分社区配发“灾情直报型北斗减灾信息终端”。
6月，山东省青岛市配备308部北斗卫星直报型报灾终端。
6月，湖南省岳阳市利用北斗终端进行防汛巡查和预警。
7月，山东省昌乐县配发22部北斗报灾终端。
7月，北京市139座下凹立交桥的抢险抽排位置、检查井及雨水箅子重要设施都通过北斗系统进行了定位。
7月，辽宁省锦州市配发400余部北斗卫星报灾终端。
7月，西安铁路局利用北斗与“云端”科技，提升了防洪预警能力。
8月，云南省丽江市融合北斗等技术的应急指挥信息系统验收。
8月，上海市部分社区将配发“灾情直报型北斗减灾信息终端”。
8月，宁夏自治区吴忠市利通区配发37部灾情直报型北斗减灾信息终端手机。
9月，福建省三明市开展气象北斗手持终端应急演练。
9月，广东省清远市英德北斗防洪减灾智能监控系统示范项目通过评审。
 
高精度监测
4月，湖北省武汉市40座桥梁将采用北斗系统，实地监控桥梁安全。
4月，福建省运用北斗卫星进行山美水库大坝监测。
5月，福建省泉州市建设北斗水利监测系统。
10月，浙江省台州市运用北斗等现代科技手段，对危旧房进行监测。
10月，陕西省巴山镇北斗防灾监测系统落户，用于提升山区铁路防灾减灾能力。
12月，黑龙江省利用北斗系统对国有大型采煤矿山开采塌陷区地面进行地质灾害监测。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>瑞典车辆安全系统制造商展出用于驾驶辅助系统的定位模块</string>
			<key>content</key>
			<string>总部设在瑞典斯德哥尔摩的车辆安全系统制造商Autoliv 公司，在拉斯维加斯举办的2017消费电子展上展出了用于驾驶辅助系统的定位模块。
精确与可靠的定位是今天车辆先进的驾驶辅助系统和主动安全系统的关键，甚至是未来自动驾驶车辆的基础。Autoliv此次展出了新的用于北美、欧洲、俄罗斯、中国和日本等国的道路景观视线模块和评估套件，旨在通过专门设计的数字驾驶辅助系统地图提供GNSS定位以及相关道路属性。
Autoliv称，数字地图数据（例如，道路标志、曲线、丘陵、隧道）与道路周围环境相结合增强GNSS定位，可有效地改善驾驶辅助系统中使用的视线传感器的性能。
（来源：INSIDEGNSS网站 翻译：刘春保 编辑：陈飚）</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Spirent公司发布新GNSS测试软件</string>
			<key>content</key>
			<string>Spirent通信公司宣布PT TestBench软件具备可用性，该软件旨在帮助技术、系统和应用程序开发人员更快地构建更准确的定位功能。该公司称，该软件的测试、分析和报告包自动测试GPS和其他全球导航卫星系统（GNSS）接收机，因此有助于将更高质量的系统更快、更可靠地推向市场。
该软件旨在为GNSS接收机性能评估提供标准，从而避免开发人员自行从头建立测试计划。PT TestBench展现了Spirent通信公司所拥有的30多年GNSS测试专长，使所有用户只需单击鼠标即可设置、运行、迭代和解释非常耗费时间的测试。
Spirent通信公司产品经理Romain Zimmermann表示：“PT TestBench将改变GPS/GNSS接收机的测试，并将帮助开发人员专注于提供更好的终端用户体验。该软件还可以根据真实的GPS干扰和欺骗信号来评估接收机设计。”
（来源：INSIDEGNSS网站 翻译：刘春保 编辑：陈飚）</string>
		</dict>
		<dict>
			<key>title</key>
			<string>日本：将再发射三颗卫星，加强其卫星导航系统</string>
			<key>content</key>
			<string>据日媒报道，为了加强自身的卫星导航系统，日本政府打算今年再发射三颗卫星，以“4星体制”进行定位。新的卫星导航系统有望用于汽车自动驾驶等新的技术领域。
日本于2010年发射了准天顶卫星“Michibiki”，被称为“日本版GPS”的区域卫星导航系统。据悉，为了加强该系统，日本政府打算今年春季至秋季相继发射三颗卫星，自2018年4月起，以“4星体制”进行定位。
（来源：中国新闻网 编辑：陈飚）</string>
		</dict>
		<dict>
			<key>title</key>
			<string>欧洲宣布伽利略系统投入初始运行</string>
			<key>content</key>
			<string>2016年12月15日，欧洲委员会（EC）——欧洲Galileo全球卫星导航系统的拥有者正式宣布Galileo初始服务启动，这是该系统向全面运行能力迈出的第一步。
欧洲还将继续发射新的卫星，部署卫星星座，逐步改善全球的服务性能和可用性。欧洲航天局（ESA）代表欧盟委员会监督伽利略系统的设计和部署，明年将委托欧洲GNSS局负责伽利略系统的运行和服务。
伽利略系统初始服务提供三种类型的服务，包括开放服务、授权服务和搜索与救援服务。
开放服务（OS）是针对大众市场，与GPS完全互操作，其形成组合覆盖将为用户提供更准确和可靠的服务。
授权服务（PRS）是加密的、更具鲁棒性的服务，向政府授权的用户如民防、消防和警察等部门提供服务。
搜索与救援（SAR）服务是欧洲对国际搜索和救援服务的贡献。利用伽利略系统和其他基于GNSS的SAR服务，当在海上或在旷野中发生紧急事件时，用户定位遇险信标的时间将从最多3小时减少到仅10分钟，其位置确定精度在5公里内，而不是以前的10公里。
经过五年的发射，目前已有18颗伽利略卫星进入轨道，但只有11颗可用于开放服务和授权，12颗用于SAR服务。11月发射的4颗卫星正在进行测试，预计明年春季前加入星座。由于发射异常，2014年发射的2颗卫星处于不正确的轨道，尽管欧洲航天局的工程师获得了对上述2颗卫星的控制，并改善了其轨道，但只有一颗可用于SAR服务，另一颗已停止服务。
（来源：INSIDEGNSS网站 翻译：刘春保 编辑：陈飚）</string>
		</dict>
		<dict>
			<key>title</key>
			<string>欧洲向韩国出售EGNOS技术</string>
			<key>content</key>
			<string>欧洲卫星导航增强系统——EGNOS发展的部分技术已经出售给韩国，服务于韩国国家类似的系统。
Thales Alenia空间公司与韩国航天局、韩国航天研究所签署了一项合同，为韩国卫星增强系统（KASS）提供地面基础设施。
按照其与欧洲航天局的合同，Thales Alenia空间公司发展了EGNOS系统的地面设施，且是EGNOS系统的主总承包商，自2009年后提供通用服务，2011年后生命安全服务投入使用，包括航空应用。
由欧洲航天局设计、由欧洲全球导航卫星系统局运行的EGNOS提高了欧洲大多数地区GPS信号的精度，同时还提供连续、可靠的GPS信号完好性最新信息。
（来源：GPSWORLD网站 翻译：刘春保 编辑：陈飚）</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北斗监测武汉市大桥形变</string>
			<key>content</key>
			<string>近日，由湖北省科技厅组织，武汉光谷北斗控股集团有限公司、武汉光谷北斗地球空间信息产业股份有限公司申报的“基于北斗卫星的桥梁三维变形监测关键技术研究及工程应用”的科技成果鉴定会在武汉大学召开，鉴定委员会一致认为：该成果整体达到国际先进水平，其中面向桥梁的北斗三维变形监测的时间序列数据综合处理技术处于国际领先。
该成果属于桥梁安全监测和卫星导航交叉学科领域，以我国自主建设的北斗卫星导航系统正式运行为契机，以北斗高精度定位技术为核心，通过关键技术研发和成套装备的研制，推动北斗高精度定位技术在桥梁三维变形监测的全面应用，真正达到对桥梁不同部位三维变形的自动化、全天候实时监测。该项目成果已经在武汉市白沙洲大桥和知音桥分别建立了北斗桥梁三维变形监测系统。
（来源：武汉市科技局 编辑：陈飚）</string>
		</dict>
		<dict>
			<key>title</key>
			<string>四川建成北斗平台 导航更精准了</string>
			<key>content</key>
			<string>1月20日，四川省地理信息公共平台建设项目在成都通过专家验收。5位中科院院士、工程院院士领衔的专家组，对该项目给出了高度评价。
四川省地理信息公共平台建设历时4年，总投资近6.5亿元，3000多名技术人员的庞大队伍参与这一项目。通过4年努力，完成了空间定位基准现代化建设、多源遥感影像获取、全省地理信息数据更新等7大任务，1：10000地理信息数据覆盖率从40%提升到65%，同时实现了地质灾害防治重点地段高精度、大比例尺度地形图全覆盖。
地理信息平台建设究竟干啥用？四川测绘局相关负责人告诉记者，测绘实际上已经影响到每个人生活方方面面，大到铁路线路的选定、机场的选址，小到开车用导航、点餐送外卖，都离不开测绘。地理信息平台建设依托于测绘技术，可为四川省各类重大工程项目提供更好的测绘数据和地理空间基础数据，比如成渝高铁、成贵高铁、巴达铁路，以及泸州机场选址、宜宾机场迁建等100多个重大项目，更精准的地理信息数据为项目顺利开展节省了时间和工程投资。
地理信息平台建设还让我们日常用的导航定位更为精准。四川测绘局相关负责人说，目前四川已建成以北斗为主的省级卫星导航与位置服务基础平台，可为全省提供高精度、高时空分辩率、高效率的导航位置服务。
（来源：华西都市报 作者：李逢春 编辑：陈飚）</string>
		</dict>
		<dict>
			<key>title</key>
			<string>重庆发布互联网经济五年规划，加快北斗技术突破与应用</string>
			<key>content</key>
			<string>（北斗网讯 记者陈飚）《重庆市建设互联网经济高地“十三五”规划》近日发布，这是重庆市首个互联网经济五年规划。规划提出，加快北斗核心关键技术突破和卫星导航应用。
根据规划，“十三五”期间，重庆将催生互联网数字传媒、互联网互动娱乐、体验式消费三大新业态，并壮大互联网金融、特色电子商务、云计算大数据三大新产业。规划提出，突破以北斗为核心的多系统兼容互用、室内外协同实时精密定位等关键技术，构建自主可控的位置应用基础平台。基于卫星导航定位、数字地图、移动互联网等技术，依托地理空间信息数据库，建立统一时空基准下的人、事、物、地的地理信息公共服务时空云平台，提供防灾救灾、国土资源、规划测绘、水文监测、交通运输等行业应用；汽车导航、室内导航、旅游娱乐等公众应用；人员搜救、空间探测等特殊应用。到2020年，实现地理信息公共服务时空云平台对主城交通出行、规划建设、重大灾害救援、全市国家4A级以上旅游景区等重点行业位置服务应用支撑全覆盖。
重庆市发改委副主任杨昌学表示，重庆将坚持创新驱动发展，加快创新要素集聚，规划发展公共资源在线交易、“互联网+”创新创业等工程，推进大众创业、万众创新，激发创新创业活力，加快北斗核心关键技术突破和卫星导航应用。</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北斗监测神农溪大桥形变</string>
			<key>content</key>
			<string>记者1月18日获悉，武汉导航院研制的国产接收机（北斗卫星导航系统接收机终端）等，为宜巴高速神农溪大桥提供三维变形监测服务，精度达到毫米级。
据介绍，由该院自主研制的北斗地面接收机，去年11月安装在神农溪大桥上，经过几个月的运行，稳定可靠。监测结果表明，该桥在有风、受重压、重载或温度变化剧烈的情况下，形变量达到3-5厘米。
据介绍，与接收机终端配套使用的软件平台，即武汉导航院高精度实时形变监测系统，采用了高精度实时动态定位技术和云服务框架，提供24小时不间断监测，实时动态三维监测精度达到5毫米，日监测精度达到0.5毫米。
（来源：楚天都市报 作者：宋效忠 编辑：陈飚）</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北京顺义：为救灾员配备北斗应急报灾终端</string>
			<key>content</key>
			<string>近日，北京市顺义区为78名救灾工作人员配备北斗应急报灾终端。
北斗应急报灾终端是北京市民政局针对救灾、报灾工作需求建设的预警信息发布终端管理系统。在断电、无电话信号、无网络等特殊环境及极端天气的情况下，终端均可及时准确报送灾害信息，确保信息传递的时效性。经培训后，救灾员已熟练掌握、使用北斗应急报灾终端。
（来源：顺义区人民政府网站 编辑：陈飚）</string>
		</dict>
	</array>
</dict>
</plist>
